@import "tailwindcss";

@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@source "../**/*.blade.php";
@source "../**/*.js";

@theme {
    --font-sans:
        "Poppins",
        ui-sans-serif,
        system-ui,
        sans-serif;

    --font-heading:
        "Montserrat",
        "Poppins",
        ui-sans-serif,
        system-ui,
        sans-serif;
}

:root {
    color-scheme: light;
    font-family: var(--font-sans);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}